.task-action, .section-action{
    /* background-color: white; */
    border-width: 0;
    border: none;
    margin: 0px 3px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}

.task_modal {
    position: absolute;
    background-color: gray;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    border-radius: 5px;
    padding: 15px;
}

.droppable {
    background-color: transparent;
    margin: 0;
    padding: 3px 0px;
    width: 100%;
    z-index: 1;
    height: 100%;
}

.colors{
    background-color:rgba(0,0,0);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding:10px;
    border-radius:5px;
}

.task-color{
    width: 80px;
    height: 30px;
    border-radius:5px;
    cursor: pointer;
    border: 2px solid transparent;
    margin: 5px 0px;
    padding:0;
}

.task-color:hover{
    border: 2px solid white;
}